// SCSS color variables
$white: #ffffff;
$gainsboro: #d8d8d8;
$ocean-blue: #0165a7;
$pale-grey: #eeedef;
$dark-text: #333333;

// Font variables
$font-primary:  Arial, Helvetica, sans-serif;

// Font Size
$font-size-body: 12px;
$font-size-x: 100%;
