<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quintype HTML / CSS Task</title>
  <!-- <link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32"> -->
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="container">
  <section class="wrapper">
    <aside>
      Side box
    </aside>
    <article>
      <div class ="box">
        <span>The real reasons why making money with online media is hard</span>
        <img class="thumb" src="http://via.placeholder.com/80x60">
      </div>
      <div class="box">
        <span>How Motherly Uses Personalization to Create Engagement</span>
        <img class="thumb" src="http://via.placeholder.com/80x60">
      </div>
      <div class="box">
        <span>Fixing email overload, and now chat overload, for content teams</span>
        <img class="thumb" src="http://via.placeholder.com/80x60">
      </div>
    </article>
  </section>
</div>
</body>
</html>
